# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
HW1/eitan/ExpectedResults.zip
HW1/eitan/ExpectedResults/expected3.res
HW1/eitan/ExpectedResults/expected4.res
HW1/eitan/ExpectedResults/expected5.res
HW1/eitan/ExpectedResults/new/expected1.res
HW1/eitan/ExpectedResults/new/expected10.res
HW1/eitan/ExpectedResults/new/expected11.res
HW1/eitan/ExpectedResults/new/expected12.res
HW1/eitan/ExpectedResults/new/expected13.res
HW1/eitan/ExpectedResults/new/expected14.res
HW1/eitan/ExpectedResults/new/expected15.res
HW1/eitan/ExpectedResults/new/expected16.res
HW1/eitan/ExpectedResults/new/expected17.res
HW1/eitan/ExpectedResults/new/expected18.res
HW1/eitan/ExpectedResults/new/expected2.res
HW1/eitan/ExpectedResults/new/expected3.res
HW1/eitan/ExpectedResults/new/expected4.res
HW1/eitan/ExpectedResults/new/expected6.res
HW1/eitan/ExpectedResults/new/expected7.res
HW1/eitan/ExpectedResults/new/expected8.res
HW1/eitan/ExpectedResults/new/expected9.res
HW1/eitan/ExpectedResults/t1.out
HW1/eitan/ExpectedResults/t1b.out
HW1/eitan/ExpectedResults/t2.out
HW1/eitan/Inputs.zip
HW1/eitan/Inputs/expected1.out
HW1/eitan/Inputs/expected10.out
HW1/eitan/Inputs/expected10_v2.out
HW1/eitan/Inputs/expected11.out
HW1/eitan/Inputs/expected12.out
HW1/eitan/Inputs/expected13.out
HW1/eitan/Inputs/expected14.out
HW1/eitan/Inputs/expected15.out
HW1/eitan/Inputs/expected15_v2.out
HW1/eitan/Inputs/expected16.out
HW1/eitan/Inputs/expected17.out
HW1/eitan/Inputs/expected2.out
HW1/eitan/Inputs/expected3.out
HW1/eitan/Inputs/expected4.out
HW1/eitan/Inputs/expected5.out
HW1/eitan/Inputs/expected6.out
HW1/eitan/Inputs/expected6_v2.out
HW1/eitan/Inputs/expected7.out
HW1/eitan/Inputs/expected8.out
HW1/eitan/Inputs/expected8_v2.out
HW1/eitan/Inputs/expected9.out
HW1/eitan/Inputs/expected9_v2.out
HW1/eitan/Inputs/in1.in
HW1/eitan/Inputs/in10.in
HW1/eitan/Inputs/in11.in
HW1/eitan/Inputs/in12.in
HW1/eitan/Inputs/in13.in
HW1/eitan/Inputs/in14.in
HW1/eitan/Inputs/in15.in
HW1/eitan/Inputs/in16.in
HW1/eitan/Inputs/in17.in
HW1/eitan/Inputs/in2.in
HW1/eitan/Inputs/in3.in
HW1/eitan/Inputs/in4.in
HW1/eitan/Inputs/in5.in
HW1/eitan/Inputs/in6.in
HW1/eitan/Inputs/in7.in
HW1/eitan/Inputs/in8.in
HW1/eitan/Inputs/in9.in
HW1/eitan/Inputs/input1.in
HW1/eitan/Inputs/input2.in
HW1/eitan/Inputs/input3.in
HW1/eitan/Inputs/input4.in
HW1/eitan/Inputs/new/input1.in
HW1/eitan/Inputs/new/input10.in
HW1/eitan/Inputs/new/input11.in
HW1/eitan/Inputs/new/input12.in
HW1/eitan/Inputs/new/input13.in
HW1/eitan/Inputs/new/input14.in
HW1/eitan/Inputs/new/input15.in
HW1/eitan/Inputs/new/input16.in
HW1/eitan/Inputs/new/input17.in
HW1/eitan/Inputs/new/input18.in
HW1/eitan/Inputs/new/input2.in
HW1/eitan/Inputs/new/input3.in
HW1/eitan/Inputs/new/input4.in
HW1/eitan/Inputs/new/input7.in
HW1/eitan/Inputs/out1.out
HW1/eitan/Inputs/out10.out
HW1/eitan/Inputs/out11.out
HW1/eitan/Inputs/out12.out
HW1/eitan/Inputs/out13.out
HW1/eitan/Inputs/out14.out
HW1/eitan/Inputs/out15.out
HW1/eitan/Inputs/out16.out
HW1/eitan/Inputs/out17.out
HW1/eitan/Inputs/out2.out
HW1/eitan/Inputs/out3.out
HW1/eitan/Inputs/out4.out
HW1/eitan/Inputs/out5.out
HW1/eitan/Inputs/out6.out
HW1/eitan/Inputs/out7.out
HW1/eitan/Inputs/out8.out
HW1/eitan/Inputs/out9.out
HW1/eitan/Inputs/to_add_input_6.in
HW1/eitan/Inputs/to_add_input_8.in
HW1/eitan/Inputs/to_add_input_9.in
HW1/eitan/regressionTest.py

CmakeLists.txt
.idea/
.idea/workspace.xml
HW3/HW3/tests/tests.zip
